{% extends "base_can.html" %} 
{% load static %}
{% block title%}
About Us
{% endblock title %}
{% block content%}
<section class="about-us">
    <div class="container text_center">
      <p style="font-size: 20px;"> Welcome to our recruitment website! We are dedicated to helping job seekers find their dream careers, while also providing top-notch talent to companies across various industries. Our user-friendly platform makes it easy to search and apply for jobs, as well as connect with potential employers. With a vast database of job openings and a team of experienced recruiters, we strive to match the right candidates with the right companies. Whether you're a recent graduate or a seasoned professional, we're here to support you in your job search journey. In addition to job opportunities, we also offer assistance in finding internships for students and recent graduates. Our platform connects students with top companies in various industries, providing valuable experience and a pathway to future employment.</p>
    </div>
  </section>
  {% endblock content%}
