{% extends "base_com.html" %}
{% block title%}
{{obj.company_name  }}
{% endblock title %}
{% block content%}
<div class="row">
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{offer_count}}</h3>
  
            <p>Offers</p>
          </div>
          <div class="icon">
            <i class="fa fa-briefcase"></i>
          </div>
          <a href="{% url 'offer' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{count_all}}</h3>
  
            <p>Applicants</p>
          </div>
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <a href="{% url 'offer' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
</div>

{% endblock content%}
