
{% load static %}



<div id="card-deck">
    {% for obj in my_objects_job %}
        {% if obj.job_type == "job" %}
            <div class="col-sm-6 col-6">
                <div class="card">
                    <div class="card-header">{{ obj.title }}</div>
                    <div class="card-body">
                        <h6 class="card-title">{{ obj.workplace }}</h6>
                        <p class="card-text" id="description">{{ obj.description }}</p>
                        <a href="{% url 'more_info' obj.id %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>      
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

