{% extends "base.html" %}
{% block title%}
Control Board  
{% endblock title %}
{% block content%}

<div class="row">
    
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{candidate_count}}</h3>

          <p>Candidates</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a href="{% url 'candidate' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ company_count }}</h3>

          <p>Companies</p>
        </div>
        <div class="icon">
          <i class="fa fa-building"></i>
        </div>
        <a href="{% url 'company' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{offer_count}}</h3>

          <p>Offers</p>
        </div>
        <div class="icon">
          <i class="fa fa-briefcase"></i>
        </div>
        <a href="{% url 'offer' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div> 

{% endblock content%}
{% block scripts%}
<script>
  const searchInput = document.getElementById("sidebar-search-input");
  const searchButton = document.getElementById("sidebar-search-button");
  const sidebarElements = document.querySelectorAll(".nav-sidebar .nav-item .nav-link");

  function search() {
    const query = searchInput.value.toLowerCase();
    for (let i = 0; i < sidebarElements.length; i++) {
      const sidebarElementText = sidebarElements[i].textContent.toLowerCase();
      if (sidebarElementText.includes(query)) {
        sidebarElements[i].classList.remove("d-none");
      } else {
        sidebarElements[i].classList.add("d-none");
      }
    }
  }

  searchButton.addEventListener("click", search);
  searchInput.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
      search();
    }
  });
</script>
{% endblock scripts%}