{% extends "base_a.html" %} 
{% load static %}
{% block title%}
Sign Up  
{% endblock title %}
{% block content%}

<form action="{% url 'save_signup_com' 'email' %}" method="POST" class="needs-validation" novalidate>
  {% csrf_token %}
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom01" class="required">Company name</label>
      <input name="company_name" type="text" class="form-control" id="validationCustom01" placeholder="Company name"  required><div class="invalid-feedback">
        Please provide your company name.
      </div>
    </div>
   
    
    <div class="col-md-3 mb-3">
      <label for="validationCustom05" class="required">Email</label>
      <input name="email" type="text" class="form-control" id="validationCustom05" placeholder="Email" required>
      <div class="invalid-feedback">
        Please provide your email.
      </div>
      {% if messages %}
      <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>
    <div class="col-md-3 mb-2">
      <label for="validationCustom03" class="required">Password</label>
      <input name="password" type="password" class="form-control" id="validationCustom03" placeholder="Choose a password" required>
      <div class="invalid-feedback">
        Please provide a password.
      </div>
    </div>
  </div>
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <label for="validationCustom03" class="required">Address</label>
        <input name="address" type="text" class="form-control" id="validationCustom03" placeholder="Address" required>
        <div class="invalid-feedback">
          Please provide your company address.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04" class="required">Business Sector</label>
        <input name="business_sector" type="text" class="form-control" id="validationCustom04" placeholder="Business Sector" required>
        <div class="invalid-feedback">
          Please provide your company business sector.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05" class="required">Headquarters</label>
        <input name="headquarters" type="text" class="form-control" id="validationCustom05" placeholder="Headquarters" required>
        <div class="invalid-feedback">
            Please provide your company headquarters.
          </div>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="validationCustom03">Phone Number</label>
          <input name="phone_number" type="text" class="form-control" id="validationCustom03" placeholder="Phone Number" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom04">Website</label>
          <input name="website" type="text" class="form-control" id="validationCustom04" placeholder="Website" >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom05">Linkedin</label>
          <input name="linkedin" type="text" class="form-control" id="validationCustom05" placeholder="Linkedin" >
        </div>
    </div>   
    <div class="form-row">
      <div class="col-md-1 mb-2" >
        <label for="validationCustom03">Size</label>
        <input type="number" name="size" class="vIntegerField" id="id_size">
      </div>
        <div class="col-md-3 mb-3">
          <label for="validationCustom04">Creation Date</label>
          <div class="input-group">
            <input name="creation_date" type="text" class="form-control vDateField" id="validationCustom04" placeholder="Creation Date"  size="10" >
          </div>
        </div>
        

    </div>    
    <input class="btn btn-primary" type="submit" value="Sign up" style="margin-bottom: 10px; background-color: #007bff;">
  </form>
  <p> You already have an account ? <a href="{% url 'log_com' %}">Log in</a></p>

  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
{% endblock content%}

  