
{% extends "base.html" %} 
{% load static %}
{% block title%}
Add candidate  
{% endblock title %}
{% block content%}
<div class="content">
<div id="content" class="colM">
    <div id="content-main">
        <form method="post" action="{% url 'save_condidate' %}" id="candidate_form" class="needs-validation" novalidate>
            {% csrf_token %}
            <div>

                <fieldset class="module aligned ">
                    <div class="form-row field-first_name">
                        <div>
                            <label class="required" for="id_first_name">First name:</label>
                            <input type="text" name="first_name" class="vTextField" maxlength="50" required id="id_first_name" >
                            <div class="invalid-feedback">
                                Please provide the first name.
                              </div>
                        </div>
                    </div>
                    <div class="form-row field-last_name">
                        <div>
                            <label class="required" for="id_last_name">Last name:</label>
                            <input type="text" name="last_name" class="vTextField" maxlength="50" required="" id="id_last_name">
                            <div class="invalid-feedback">
                                Please provide the last name.
                              </div>
                        </div>
                    </div>
                    <div class="form-row field-birth_date">
                        <div class="input-group">
                            <label class="required" for="id_birth_date">Birth date:</label>
                            
                            <input type="text" name="birth_date" class="vDateField " size="5" required="" id="id_birth_date">
                            <div class="invalid-feedback">
                                Please provide the birth date .
                              </div>
                        </div>
                    </div>
                    <div class="form-row field-gender">
                        <div>
                            <label  for="id_gender">Gender:</label>
                            <input type="text" name="gender" class="vTextField" maxlength="10"  id="id_gender">                   
                        </div>       
                    </div>
                    <div class="form-row field-nationality">    
                        <div>
                            <label  for="id_nationality">Nationality:</label>                   
                            <input type="text" name="nationality" class="vTextField" maxlength="50"  id="id_nationality">    
                            
                        </div>
                    </div>
                    <div class="form-row field-address">
                        <div>
                            <label  for="id_address">Address:</label>                    
                            <textarea name="address" cols="40" rows="10" class="vLargeTextField" id="id_address"></textarea>     
                        </div>       
                    </div>
                    <div class="form-row field-driving_license">
                        <div>
                            <label for="id_driving_license">Driving license:</label>
                    
                            <input type="text" name="driving_license" class="vTextField" maxlength="100" id="id_driving_license">
                        </div>        
                    </div>
                    <div class="form-row field-city">
                        <div>
                            <label  for="id_city">City:</label>
                            <input type="text" name="city" class="vTextField" maxlength="50" id="id_city">   
                        </div>
                    </div>
                    <div class="form-row field-phone_number">
                        <div>
                            <label class="required" for="id_phone_number">Phone number:</label>
                            <input type="text" name="phone_number" class="vTextField" maxlength="20" required="" id="id_phone_number">   
                            <div class="invalid-feedback">
                                Please provide the phone number.
                              </div>
                        </div>
                    </div>
                    <div class="form-row field-email">
                        <div>
                            <label class="required" for="id_email">Email:</label>
                            <input type="email" name="email" class="vTextField" maxlength="254" required="" id="id_email">
                            <div class="invalid-feedback">
                                Please provide the email.
                              </div>
                        </div>       
                    </div>
                    <div class="form-row field-linkedin">
                        <div>
                            <label for="id_linkedin">Linkedin:</label>
                            <input type="url" name="linkedin" class="vURLField" maxlength="200" id="id_linkedin"> 
                        </div>
                    </div>
                    <div class="form-row field-technical_skills">
                        <div>
                            <label for="id_technical_skills">Technical skills:</label>
                    
                            <textarea name="technical_skills" cols="40" rows="10" class="vLargeTextField" id="id_technical_skills"></textarea>                                                  
                        </div>        
                    </div>
                    <div class="form-row field-language_skills">
                        <div>
                            <label for="id_language_skills">Language skills:</label>
                    
                            <textarea name="language_skills" cols="40" rows="10" class="vLargeTextField" id="id_language_skills"></textarea>  
                        </div>
                    </div>
                    <div class="form-row field-social_skills">
                        <div>
                            <label for="id_social_skills">Social skills:</label>
                            <textarea name="social_skills" cols="40" rows="10" class="vLargeTextField" id="id_social_skills"></textarea>
                        </div>
                    </div>
                    <div class="form-row field-education_level">
                        <div>
                            <label  for="id_education_level">Education level:</label>
                    
                            <input type="text" name="education_level" class="vTextField" maxlength="50"   id="id_education_level">
                        </div>
                    </div>
                    <div class="form-row field-expertise_field">
                        <div>
                            <label  for="id_expertise_field">Expertise field:</label>
                    
                            <input type="text" name="expertise_field" class="vTextField" maxlength="50"  id="id_expertise_field">                
                        </div>       
                    </div>
                    <div class="form-row field-password">
                        <div>
                            <label class="required" for="id_password">Password:</label>
                            <input type="text" name="password" class="vTextField" maxlength="128" required="" id="id_password">
                            <div class="invalid-feedback">
                                Please provide the password.
                              </div>
                        </div>
                    </div>
                </fieldset>
                <div class="submit-row">

                    <input type="submit" value="Save" class="default" name="_save">
                    
                </div>
                


            </div>  
        </form>
        
    </div>

      
</div>

{% endblock content%}
{% block scripts%}
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
{% endblock scripts%}






