{% extends "base.html" %} 
{% load static %}
{% block title%}
Postulation  
{% endblock title %}
{% block content%}
<table id="example" class="display datatable" style="width:100%">
    <thead>
        <tr>
            <th>Candidate id</th>
            <th>expertise field</th>
            <th>Offer id</th>
            <th>Offer field</th>
            <th>Acceptation</th>
        </tr>
    </thead>
</table>

{% endblock content%}

{% block scripts%}
<script>
    $(document).ready(function () {
        var oTable = $('.datatable').dataTable({
            // ...
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'postulationJson' %}"
        });
        // ...
    });
</script>
<script>
  
    function acceptPostulation(postulationId, acceptation) {
        $.ajax({
          type: 'POST',
          url: '/update_acceptation/' + postulationId + '/' + acceptation + '/',
          success: function(response) {
            console.log('Postulation accepted');
            // reload the table to show the updated data
            $('#postulation-table').DataTable().ajax.reload();
          },
          error: function(xhr, status, error) {
            console.error('Error accepting postulation:', error);
          }
        });
      }
      
      function rejectPostulation(postulationId, acceptation) {
        $.ajax({
          type: 'POST',
          url: '/update_acceptation/' + postulationId + '/' + acceptation + '/',
          success: function(response) {
            console.log('Postulation rejected');
            // reload the table to show the updated data
            $('#postulation-table').DataTable().ajax.reload();
          },
          error: function(xhr, status, error) {
            console.error('Error rejecting postulation:', error);
          }
        });
      }
      
</script>

{% endblock scripts%}





